* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#home {
  height: 100vh;
  background: url(images/background.jpg);
  background-size: cover;
  background-position: top;
}
nav.navbar {
  background-color: transparent !important;
}
nav.navbar li a {
  color: #fff !important;
  padding-left: 2rem !important;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}
.navbar-toggler, .navbar-toggler:focus{
    color: #fff !important;
    border: none;
    box-shadow: none !important;
}
/* MAIN CONTENT */

.main-content {
  padding-top: 3rem;
}
.main-content h1 {
  color: #fff;
  font-size: 9rem;
  font-weight: 700;
}
.category-box span {
  color: #fff;
  background-color: #08acb8a6;
  padding: 0.2rem 5rem;
  margin-left: 2rem;
  border-radius: 5px;
}
.main-content p {
  margin-top: 2.5rem;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1.5px;
}
.btn-primary:focus,
.btn-primary {
  background: linear-gradient(to right, #00adf7, #02658d);
  padding: 0.9rem 4em;
  border: none;
  margin-left: 1rem;
  box-shadow: none !important;
  border-radius: 2rem;
}
.review h2 {
  color: #fff;
  margin-top: 2rem;
}

@media (max-device-width: 768px) {
  .main-content h1{
    font-size: 3rem;
    font-weight: 700;
  }
  .main-content p {
    margin-top: 2.5rem;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 200;
    letter-spacing: 0;
  }
}
@media (max-device-width: 535px) {
    .main-content{
        text-align: center;
        padding-top: 1rem;
    }
    .main-content h1{
        font-size: 3rem;
        font-weight: 700;
    }
    .category-box span {
        margin-left: 0;
        margin: 1rem;
        padding: 0.2rem 1rem;
    }
    .cta-buttons a{
        margin-bottom: 1rem;
    }
    .review h2 {
        margin-top: 1rem;
      }
    .navbar-brand img{
        width: 10rem;
    }
}
